html, body, #mainDiv {
    width: 100%; height: 100%;
    border: 0; padding: 0; margin: 0;
}
#grid {
	width: 100%;
	height: 30em;
}

.blank_interrupt{
	height: 2em;
}

.notext_wrap{
	text-wrap:none;
	white-space: nowrap;
	display:inline;
}

.blank_interval{
	padding-right:5px;
}

#DirectoryTab{
	padding:10px;
}

.labelstyle{
	font-weight:bold;
}

.labelContentstyle{
	color:#739f1d;
	font-weight:bold;
}

.projectinfo {
	background:#d4f684 50% no-repeat;
	border:1px solid #739f1d;
	display:block;
	padding:5px;
	font-size:17px;
	font-weight:bold;
}

/* Grid need a explicit width/height by default */
#detailgrids {
	width: 100%;
	height: 30em;
}


.bLightBlue {
    background-color: #6DB5D5;
    border: 1px solid #5897C3;
    box-shadow: 0 1px 2px 0 #84C4DD inset;
}

.bGreen {
	background-color: #96C161;
    border: 1px solid #68A341;
    box-shadow: 0 1px 2px 0 #A4CA6C inset;
}

.bRed {
	background: #C57979;
    border: 1px solid #A95151;
    box-shadow: 0 1px 2px 0 #CD8787 inset;
}

.bgray {
    background-color:#F8F8F8;
    border: 1px solid #F8F8F8;
    box-shadow: 0 1px 2px 0 #ECECEC inset;
}

.bGold {
	background-color: #D5A44C;
    border: 1px solid #C4853E;
    box-shadow: 0 1px 2px 0 #DDB65B inset;
}

.bWhite {
	background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 1px 2px 0 #FFFFFF inset;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.insideFont {
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    
    width:150px;
}

a {
    cursor: pointer;
}
a {
    color: #2B6893;
    text-decoration: none;
}

.dijitMyuserAccDialogPaneContentArea {
    width: 360px !important;
    height: 250px !important;
}

.dijitDialogPaneContentArea {
    width: 800px !important;
    height: 500px !important;
}

.roleDijitDialogPaneContentArea{
	width: 720px !important;
    height: 510px !important;
}

.dialogNum{
    width: 40px;
}

.dialogText{
    width: 200px;
}

.dijitdialog_index tr{
    height:50px;
}

.leftSlideElem {
	background:#d4f684 50% no-repeat;
	display:block;
}


ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.filesDown > li.currentFile {
    background: none repeat scroll 0 0 #F2F2F2;
    border-top: 1px solid #C3C3C3;
}
.filesDown > li.currentFile {
    background: none repeat scroll 0 0 transparent;
}
.filesDown > li:first-child {
    padding: 8px 12px;
}
.filesDown > li {
    background: -moz-linear-gradient(center top , #FAFAFA 0%, #EEEEEE 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #FDFDFD;
    display: block;
    font-size: 11px;
    padding: 8px 24px 8px 12px;
    position: relative;
}


.fileSuccess {
    background: url("../assets/icons/folder.png") no-repeat scroll 0 0 transparent;
}

.fileSearch{
    background: url("../assets/icons/search.png") no-repeat scroll 0 0 transparent;
}


.fileSuccess, .fileError, .fileSearch{
    display: block;
    float: left;
    height: 13px;
    margin: 0px 10px 0 0;
    width: 12px;
}


.filesDown .remove {
    background: url("../assets/icons/removeLi.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 7px;
}

.buttom {
    background: url("../assets/repgray2.png") repeat-x scroll 0 0 #FFFFFF;
text-align:center;
color:white;
width:100%;
}

.gridsize{
    width:98%;
    height:500px;
}

.fileInfo{
	width:400px;

}

.doc_info_disp{
	font-size:13px;
}

.doc_field{
	background-color:red;
	width:200px;
}


.fileInfo fieldset p {
	line-height:10px;
}

.errorcolor{
	color:red;
}

.normalcolor{
	color:black;
}

.member_bg{
	background: url("../assets/bg_tile.png") repeat scroll 0 0 #FFFFFF;
	text-align:center;
}

.member_center{
	background: url("../assets/main_container_pattern.png") repeat scroll 0 0 #FFFFFF;

	margin-left:100px;
	margin-right:100px;
	text-align:center;
}

.member_divider{
	background: url("../assets/divider.png") repeat-x scroll center center transparent;
	padding: 2px 0px;
	margin: 7px 0px;
}

.member_box{
	width:100%;
	text-align:left;
}

.member_pic{
	width:30%;
	padding-left:100px;
}

.member_info{
	float:left;
	width:60%;
}

.member_name{
	color: #93A8BD;
    font-family: 'Whitney Cond A','Whitney Cond B';
    font-size: 3.6em !important;
    font-style: normal;
    font-weight: 300;
}

.member_desc{
	font-size: 13px;
	margin-bottom: 1.571em;
	line-height: 1.571em;
	color: #8596A7;
    font-family: 'Gotham SSm A','Gotham SSm B';
    font-style: normal;
    font-weight: 300;
    text-shadow: 0 1px 1px #333333;
}

input,textarea {
	border: 1px solid rgb(117, 157, 192);
}

#pageEntryDialog_underlay{
	background: url("../assets/bg_tile.png") repeat scroll 0 0 #FFFFFF;
	opacity:100;
	filter:alpha(opacity=100);
}

.occupydiv{
	float:left;
	width:100%;
	height:1900px;
	padding:10px 0px 0px 80px;
	background: #333333;
}

.occupydivloading{
	height:300px;
	background: url("../assets/index_loading.gif") no-repeat #333333;
}